
/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button {
  background-color: $red;
  border: 2px solid $red;
  box-sizing: border-box;
  color: $white;
  cursor: pointer; 
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: .1rem;
  line-height: 2;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  margin-bottom: .5rem;

  @media screen and (min-width: $bp-medium) {
      font-size: 1.5rem;
  }
}

.button:link,
.button:visited,
.button:active {
  color: $white;
}

.button:hover,
button:hover,
.button:focus,
button:focus {
  background-color: lighten($red, 5%);
  border-color: lighten($red, 5%);
  outline: 0; 
  text-decoration: none;
}


.button--secondary,
.button--secondary:link,
.button--secondary:visited,
.button--secondary:active {
    background-color: $yellow;
    border-color: $yellow;
    color: $red;
}

.button--secondary:hover,
.button--secondary:focus {
  background-color: lighten($yellow, 5%);
  border-color: lighten($yellow, 5%);
  outline: 0; 
}


.button--empty,
.button--empty:link,
.button--empty:visited,
.button--empty:active {
    background-color: transparent;
    border-color: $white;
    color: $white;
}

.button--empty:hover,
.button--empty:focus {
  background-color: $lighterGray;
  border-color: $darkGray;
  color: $darkGray;
  outline: 0; 
}

.button--small,
.button--small:link,
.button--small:visited,
.button--small:active {
    font-size: 1.3rem;
    line-height: 1.75;
    padding-left: 1rem;
    padding-right: 1rem;
}