.form__input--text,
%form__input--text {
    border: none;
    border-bottom: 1px solid $lightGray;
    border-radius: 0;
    color: $gray;
    font-size: 1.6rem;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

