input, textarea {
    @include normalize-form-elements();

    background-color: $gray;
    color: $white;
    border: none;
    margin: .5rem 0;
    outline: none;
    padding: 1.5rem;
    width: 90%;

    &::placeholder {
        color: $lightGray;
    }

    @media screen and (min-width: $bp-medium) {
        width: 60%;
    }
}

textarea {
    resize: vertical;
    min-height: 8rem;
}

form {
    margin-bottom: 2rem;

    button, .button {
        display: block;
    }
}