.profile {
  padding-top: 2rem;
  padding-bottom: 4rem;

  img {
    @include box-shadow(1rem, 1rem, 0, 0, $purple);

    margin-right: 1rem;
    margin-bottom: 1rem;
    max-width: 14rem;
    
    @media screen and (min-width: 34.375em) {
      max-width: 100%;
    }
  }
}