/* Globals */
@import "functions";
@import "mixins";
@import "mixins-flexbox";

/** Custom Sass variables **/

/** Colors **/
$white: #fff;
$lighterGray: #e9e9e9;
$lightGray: #d7d7d7;
$gray: #525050;
$darkGray: #2b2b2b;
$black: #000000;

$red: #ec2f23;
$darkRed: #ab1d21;
$green: #54944a;
$darkGreen: #499e49;
$yellow: #ffd000;
$blue: #1125aa;
$lightBlue: #297ce0;
$darkBlue: #101d4e;



/* Color settings */
$font-color: $darkGray;
$primary-color: $lightGray;


/* Content */


/* Breakpoints */
$bp-xsmall: 25rem; /* ~400px */
$bp-small: 40rem; /* ~640px */
$bp-medium: 60rem; /* ~960px */
$bp-large: 71.25rem; /* ~1140px */
$bp-xlarge: 134rem; /* ~2150px */
$bp-nav: 50rem; /* ~800px */


/* Font sizes */


/* Padding/Margins */
$padding-sm: 1.25rem;
$padding-md: 2.5rem;


/* Dimensions */

